.gridCardsRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    height: 40%;
}

.infoCard {
    min-width: 275px; /* always need to give dimensions in terms of px, em, vh*/
    min-height: 220px;
    background-color: #141414 !important;
}

.infoCardHeader {
    /* border: 1px solid black; */
    height: 50px;
    box-sizing: border-box;
    margin-top: 20px;
    color: white;
    background-color: #141414;
}

.infoCardTitle {
    /* display:flex;
    justify-content: center;
    align-items: center; */
    color: white;
    font-family: 'Raleway', 'Roboto', serif !important;
}

.infoCardContent {
    /* text-align: center; */
    height: 150px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    color: white;
    background-color: #141414;
    font-family: 'Raleway', 'Roboto', serif !important;

}

.recoveredText{
    color: green;
}

.deathsText{
    color: red;
}