.gridContainer {
    /* border: 1px solid black; */
    height: 98vh;
}

.gridItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    height: 40%;
}

.gridItem2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid black; */
    height: 60%;
}

.card {
    min-width: 275px; /* always need to give dimensions in terms of px, em, vh*/
    min-height: 220px;
    
}

.cardHeader {
    /* border: 1px solid black; */
    height: 50px;
    box-sizing: border-box;
    margin-top: 20px;
}

.cardTitle {
    display:flex;
    justify-content: center;
    align-items: center;
}

.cardContent {
    text-align: center;
    height: 150px;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.searchInput {
    padding: 2px 4px;
    display: flex;
    width: 370px;
    margin-top: 100px;
}

.searchInputBase {
    width: 90%;
    margin-left: 10px;
}