.card {
    min-width: 275px; /* always need to give dimensions in terms of px, em, vh*/
    min-height: 220px;
    background-color: #212121 !important;
}

.cardHeader {
    /* border: 1px solid black; */
    height: 50px;
    box-sizing: border-box;
    margin-top: 20px;
    color: white;
    background-color: #212121;
}

.cardTitle {
    /* display:flex;
    justify-content: center;
    align-items: center; */
    color: white;
}

.cardContent {
    /* text-align: center; */
    height: 150px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    color: white;
    background-color: #212121;
}

.recoveredText{
    color: green;
}

.deathsText{
    color: red;
}