:root{
    --g-height: 100vh;
    --h-row: calc(var(--g-height)*0.25);
    --i-row: calc(var(--g-height)*0.4);
    --s-row: calc(var(--g-height)*0.35);
}

.gridContainer {
    margin-left: 7%;
    display: grid;
    height: var(--g-height);
    /* width: var(--g-width); */
    grid-template-columns: auto;
    grid-template-rows: var(--h-row) auto auto;
    grid-template-areas: 
        "header"
        "info"
        "search";
}

